<div>
  <h1>Add a definition to <%= @words.word_name() %> </h1>

  <% @word_meanings.each() do |word_meaning| %>
  <li><%= word_meaning.word_meanings() %></li>
  <% end %>

  <form action="/definitions/<%= definitions.id %>" method="post">
    <label for="meaning">Add Definition:</label>
    <input id="meaning" name="meaning" type="text">
    <button type="submit">Add Definition</button>
  </form>
</div
