<h1>Add a definition:</h1>

<form action="/definitions" method="post">
  <label for="word_definition">Add Definition:</label>
  <input id="word_definition" name="word_definition" type="text">


  <button type="submit">Add Definition</button>
</form>
