<h1>Definitions</h1>

<h3>Here are the definitions: </h3>
<ul>
  <% @definitions.each() do |definition| %>
    <li><a href="/definitions/<%= definition.id() %>"><%= definition.word_definition() %></a></li>
  <% end %>
</ul>
