<h1>Words and Definitions</h1>

<form action="/words">
  <div class="form-group">
    <label for="word">Enter a word to add:</label>
    <input type="text" name="word" id="word" class="form-control">
  </div>

  <button type="submit" class="btn btn-danger">Add Word</button>
</form>
