<div>
  <h1>Add words</h1>
  <form action="/words" method="post">
    <label for="name">Word:</label>
    <input id="name" name="word_name" type="text">
    <button type="submit">Add word</button>
  </form>
  <p><a href="/">Return to Main Page</a></p>
  <p><a href="/words">Dictionary</a></p>
</div>
