<div>
  <h1><%= @word.word_name() %></h1>
  <h3>Here are all the definitions for this word:</h3>
  <ul>
    <% @word.word_meanings().each() do |word_meaning| %>
      <li><%= word_meaning.word_definition() %></li>
    <% end %>
  </ul>
  <p><a href="/words/<%= @word.id%>/definitions/new">Add a new definition</a></p>
  <p><a href="/">Return to Main Page</a></p>
  <p><a href="/words">Dictionary</a></p>
</div>
