<div>
  <h1>Your Dictionary</h1>
  <h2>Click on a word to to view it's definition:</h2>
  <ul>
    <% @words.each() do |word| %>
      <li><a href="/words/<%= word.id() %>"><%= word.word_name() %></a></li>
    <% end %>
  </ul>
  <p> Or add a <a href ="/words/new">new word</a> </p>
  <a href="/">Return to Main Page</a>
</div>
